Repository pypa/packaging, pull requests merged in 2020-05, with the labels that each got.

#303 avoid two function calls per comparison
  packaging/version.py
  tests/test_version.py
Labels: enhancement, packaging.version

#294 Handle failure to call dlopen(NULL)
  CHANGELOG.rst
  packaging/tags.py
  tests/test_tags.py
Labels: bug, packaging.tags

#293 Support PEP 600 tags
  packaging/tags.py
  tests/test_tags.py
Labels: packaging.tags
