Repository pypa/packaging, pull requests merged in 2020-11, with the labels that each got.

#347 Change documentation theme to Furo
  .readthedocs.yml
  MANIFEST.in
  README.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/tags.rst
  noxfile.py
  packaging/__about__.py
Labels: documentation

#352 Move from setuptools to flit
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  MANIFEST.in
  docs/conf.py
  mypy.ini
  noxfile.py
  packaging/__about__.py
  packaging/__init__.py
  pyproject.toml
  setup.py
Labels: enhancement

#319 add support for macos 11.0, arm64, universal2
  packaging/tags.py
  tests/test_tags.py
Labels: enhancement, packaging.tags

#361 Add intel cpu_arch on MacOS as universal-compatible
  packaging/tags.py
  tests/test_tags.py
Labels: packaging.tags
