Repository pypa/packaging, pull requests merged in 2022-08, with the labels that each got.

#584 Use Iterator instead of Iterable for specifier filter methods
  CHANGELOG.rst
  packaging/specifiers.py
Labels: enhancement, packaging.specifiers

#541 Add a "cpNNN-none-any" tag
  packaging/tags.py
  tests/test_tags.py
Labels: enhancement, packaging.tags

#544 Document exceptions raised by functions in utils
  docs/utils.rst
Labels: documentation, packaging.utils

#563 Forbid prefix version matching on pre-release/post-release segments
  packaging/specifiers.py
  tests/test_specifiers.py
Labels: bug, packaging.specifiers

#561 Normalize specifier version for prefix matching
  packaging/specifiers.py
  tests/test_specifiers.py
Labels: bug, packaging.specifiers
