Repository pypa/packaging, pull requests merged in 2022-06, with the labels that each got.

#554 Do not set extra in default_environment()
  packaging/markers.py
  tests/test_markers.py
Labels: bug, packaging.markers

#513 fix: macOS platform tags with old macOS SDK
  packaging/tags.py
  tests/test_tags.py
Labels: bug

#538 Correctly parse ELF for musllinux on Big Endian
  packaging/_musllinux.py
  tests/test_musllinux.py
Labels: bug, packaging.tags
