Repository pypa/packaging, pull requests merged in 2023-02, with the labels that each got.

#675 Improve error for local version label with unsupported operators
  src/packaging/_parser.py
  src/packaging/_tokenizer.py
  tests/test_requirements.py
Labels: packaging.requirements

#620 Replace spaces in platform names with underscores
  src/packaging/tags.py
  tests/test_tags.py
Labels: packaging.tags

#663 Import underlying parser function as an underscored variable
  src/packaging/markers.py
  src/packaging/requirements.py
Labels: bug, packaging.requirements
