Repository pypa/packaging, pull requests merged in 2023-07, with the labels that each got.

#700 Remove unused argument in `_manylinux._is_compatible`
  src/packaging/_manylinux.py
  tests/test_manylinux.py
  tests/test_tags.py
Labels: packaging.tags, infrastructure

#693 Add platform tag support for LoongArch
  src/packaging/_manylinux.py
Labels: enhancement, packaging.tags

#690 Ability to install `armv7l manylinux/musllinux` wheels on `armv8l`
  src/packaging/_manylinux.py
  src/packaging/_musllinux.py
  src/packaging/tags.py
  tests/test_tags.py
Labels: packaging.tags
